<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="Deli Burger Casera" height="40">
        </a>

        <!-- Botón menú móvil -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto"> 
                <li class="nav-item"><a class="nav-link" href="#menu">Menú</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
            </ul>
        </div>

<!-- Redes sociales alineadas a la derecha -->
<div class="social-icons">
    <a href="https://instagram.com" target="_blank">
        <img src="assets/icons/instagram.svg" alt="Instagram">
    </a>
    <a href="https://facebook.com" target="_blank">
        <img src="assets/icons/facebook.svg" alt="Facebook">
    </a>
    <a href="https://tiktok.com" target="_blank">
        <img src="assets/icons/tiktok.svg" alt="TikTok">
    </a>
</div>
